html {
  --color: #333;
  --sub-color: #999898;
  --placeholder-color: #cfcbcb;
  --body-bg: 255 255 255;
  --nav-card-bg: var(--body-bg);
  --mask-bg: 255 255 255;
  --me-box-hover-bg: rgb(202 202 202 / 25%);
  --hover-bg: #f3f1f1;
  --arrow-btn-bg: rgb(0 0 0 / 12%);
  --arrow-btn-color: rgb(0 0 0 / 24%);
  --bento-box-bg: linear-gradient(135deg, #f6fdfc 33%, #f2ecfc 100%);
  --bento-box-border-color: linear-gradient(45deg, #d0f8e9, #c398f9);
  --message-bg: #fff;
  --message-success-border-color: #8eec91;
  --message-success-color: #0fe217;
  --message-warn-border-color: #fdde8c;
  --message-warn-color: #ffc32c;
  --message-error-border-color: #fda5a5;
  --message-error-color: #ff4a4a;
  --message-info-border-color: #a5d3fd;
  --message-info-color: #329bfc;
  --message-shadow: 0px 2px 12px -4px rgb(0 0 0 / 10%), 0px 8px 20px -8px rgb(0 0 0 / 4%);
  --dock-border-color: #d5d5d5;
  --tooltip-bg: rgb(255 255 255 / 80%);
  --tooltip-border-color: rgb(199 199 199 / 30%);
  --box-border-color: #e2e2e2;
  --hover-box-border-color: #95cec6;
  --scrollbar-thumb: rgb(46 46 46 / 30%);
  --scrollbar-thumb-hover: #8c8c8c;
  --mix-blend-mode: normal;
  --grid-line-bg: linear-gradient(to bottom, transparent 18px, rgb(230 229 229 / 88%) 19px),
    linear-gradient(to right, transparent 18px, rgb(230 229 229 / 88%) 19px);
  --loading-bg-1: rgb(31 192 125 / 25%);
  --loading-bg-2: rgb(31 192 125);
  --shortcut-bg: #efefef;
  --shortcut-color: #9c9c9c;
  --shortcut-border-color: #c2c2c2;
  --tag-bg: #f3f1f1;
  --tag-color: #b3b3b3;
  --tag-hover-bg: #e6e6e6;
  --tag-hover-color: #717171;
  --label-arrow-bg: #fff, rgb(255 255 255 / 12%);
  --back-top-bg: rgb(var(--body-bg));
  --back-top-border-color: rgb(0 0 0 / 10%);
  --back-top-hover-color: #95cec6;
  --search-box-border-color: #dfdfdf;
  --search-box-item-hover-bg: rgb(194 194 194 / 28%);
}

html.dark {
  --color: #f1f1f1;
  --sub-color: #9a9a9a;
  --placeholder-color: #747474;
  --body-bg: 36 36 36;
  --nav-card-bg: 39, 39, 39;
  --mask-bg: 0 0 0;
  --hover-bg: #353535;
  --me-box-hover-bg: rgb(27 36 45 / 25%);
  --arrow-btn-bg: rgb(0 0 0 / 24%);
  --arrow-btn-color: rgb(255 255 255 / 60%);
  --arrow-btn-hover-color: #fff;
  --bento-box-bg: linear-gradient(135deg, #30403e 33%, #2e293a 100%);
  --bento-box-border-color: linear-gradient(45deg, #41a37e, #6a31b4);
  --scrollbar-thumb: rgb(82 82 82 / 40%);
  --scrollbar-thumb-hover: #565656;
  --dock-border-color: #585858;
  --tooltip-bg: rgb(0 0 0 / 40%);
  --tooltip-border-color: rgb(74 74 74 / 30%);
  --box-border-color: rgb(85 90 98 / 56%);
  --hover-box-border-color: #2c6b5f;
  --grid-line-bg: linear-gradient(to bottom, transparent 18px, rgb(50 50 50 / 88%) 19px),
    linear-gradient(to right, transparent 18px, rgb(50 50 50 / 88%) 19px);
  --mix-blend-mode: difference;
  --message-bg: rgb(var(--body-bg));
  --message-success-border-color: #7aa77c;
  --message-success-color: #3ce543;
  --message-warn-border-color: #7d7153;
  --message-warn-color: #ffc634;
  --message-error-border-color: #9e6c6c;
  --message-error-color: #ff4a4a;
  --message-info-border-color: #637e98;
  --message-info-color: #329bfc;
  --message-shadow: 0px 2px 12px -4px rgb(0 0 0 / 20%), 0px 8px 20px -8px rgb(0 0 0 / 8%);
  --loading-bg-1: rgb(53 145 107 / 25%);
  --loading-bg-2: rgb(23 162 104);
  --shortcut-bg: #3e3d3d;
  --shortcut-color: #e2e2e2;
  --shortcut-border-color: #595959;
  --tag-bg: #353535;
  --tag-color: #bababa;
  --tag-hover-bg: #4e4e4e;
  --tag-hover-color: #d2d2d2;
  --label-arrow-bg: rgb(36 36 36), rgb(36 36 36 / 10%);
  --back-top-bg: rgb(var(--nav-card-bg));
  --back-top-border-color: rgb(100 100 100 / 36%);
  --back-top-hover-color: #2c6b5f;
  --search-box-border-color: #303030;
  --search-box-item-hover-bg: rgb(40 40 40 / 80%);
}
