body {
  --color: #333;
  --sub-color: #666;
  --light-active-bg: #f5f5f5;
  --bento-box-bg: linear-gradient(135deg, #f6fdfc 33%, #f2ecfc 100%);
  --bento-box-border-color: linear-gradient(45deg, #d0f8e9, #c398f9);
  --hover-bg: #e3f4f4;
  --message-bg: #fff;
  --message-success-border-color: #8eec91;
  --message-success-color: #0fe217;
  --message-warn-border-color: #fdde8c;
  --message-warn-color: #ffc32c;
  --message-error-border-color: #fda5a5;
  --message-error-color: #ff4a4a;
  --message-info-border-color: #a5d3fd;
  --message-info-color: #329bfc;
  --message-shadow: 0px 2px 12px -4px rgb(0 0 0 / 10%), 0px 8px 20px -8px rgb(0 0 0 / 4%);
}

body.dark {
  --color: #fff;
  --bento-box-bg: linear-gradient(135deg, #30403e 33%, #2e293a 100%);
  --bento-box-border-color: linear-gradient(45deg, #41a37e, #6a31b4);
}
